<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LogoutActivity"></activity>
        <activity android:name=".EditAccountActivity" />
        <activity android:name=".CashierHomePageActivity" />
        <activity android:name=".AdminHomePageActivity" />
        <activity android:name=".DoctorHomePageActivity" />
        <activity android:name=".PatientHomePageActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".DoctorCheckAppointment" android:parentActivityName=".DoctorHomePageActivity"/>
        <activity android:name=".DoctorViewMessage" android:parentActivityName=".DoctorHomePageActivity"/>
        <activity android:name=".DoctorReminder" android:parentActivityName=".DoctorHomePageActivity"/>
        <activity android:name=".DoctorViewHistory" android:parentActivityName=".DoctorHomePageActivity"/>
        <activity android:name=".DoctorResponseMessage" android:parentActivityName=".DoctorViewMessage"/>
        <activity android:name=".PatientBookAppointment" android:parentActivityName=".PatientHomePageActivity"/>
        <activity android:name=".PatientReminder" android:parentActivityName=".PatientHomePageActivity"/>
        <activity android:name=".PatientViewMessage" android:parentActivityName=".PatientHomePageActivity"/>
        <activity android:name=".PatientCheckAppointment" android:parentActivityName=".PatientHomePageActivity"/>
        <activity android:name=".PatientOnlineHelp" android:parentActivityName=".PatientHomePageActivity"/>
        <activity android:name=".PatientViewHistory" android:parentActivityName=".PatientHomePageActivity"/>
        <activity android:name=".PatientSendMessage" android:parentActivityName=".PatientViewMessage"/>
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>